<thead>
<tr>
    <th class="tc" width="10%" rowspan="2">团号</th>
    <th class="tc"  width="8%" rowspan="2">询价客户</th>
    <th class="tc"  width="8%" rowspan="2">操作员</th>
    <th class="tc"  width="10%" rowspan="2">出/截团日期</th>
    <th class="tc"  width="7%" rowspan="2">签证国家</th>
    <th class="tc"  width="9%" rowspan="2">资料截止日期</th>
    <th width="24%" colspan="3" class="t-th2">同行价</th>
    <th class="tr"  width="6%" rowspan="2">订金/人</th>
    <th class="tr"  width="8%" rowspan="2">单房差/间夜</th>
    <th style="display:none" width="4%">余位</th>
    <th class="tc"  width="10%" rowspan="2">操作</th>
</tr>
<tr>
    <th class="tr"  width="8%">成人</th>
    <th  class="tr" width="8%">儿童</th>
    <th  class="tr" width="8%">特殊人群</th>
</tr>
</thead>