<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/trekiz_wholesaler_tts/wholesaler.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/trekiz_wholesaler_tts/wholesaler.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="quauqLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/quauqLog/quauqLog.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/quauqLog/quauqLog.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="com.trekiz.admin" level="INFO" addtivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="quauqLogFile" />
	</logger>
	<logger name="com.trekiz.admin.modules.synchronize.util" level="DEBUG" />
	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="OFF"/>
	<!-- <logger name="org.hibernate.engine.transaction" level="DEBUG" /> -->
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.sqlonly" level="OFF"/>

	<root level="ERROR">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>