/*S表格操作列样式文件*/
.qc-table-operator {
  position: absolute;
  z-index: 100;
  display: none;
  height: 400px;
  width: 154px;
  padding: 10px;
  background-color: #FFECE6;
  border: 1px solid #edd5d0;
}
.qc-table-operator button {
  display: inline-block;
  float: left;
  min-width: 60px;
  text-align: center;
  max-width: 130px;
  padding: 0 3px;
  margin: 5px;
  background-color: transparent;
  border: none;
  white-space: nowrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
  color: #666666;
  cursor: pointer;
}
.qc-table-operator button:hover {
  border-radius: 3px;
  background-color: #db8a83 ;
  color: #ffffff;
}
.qc-table-operator button.active {
  border-radius: 3px;
  background-color: #db8a83;
  color: #ffffff;
}
.qc-table-operator button[disabled] {
  color: #cccccc;
  cursor: default;
  background-color: transparent !important;
}
.qc-table-operator button[disabled]:hover {
  background-color: transparent !important;
  color: #cccccc;
}
.qc-table-operator:hover {
  background-color: #FFECE6;
}
.base-operator a:link,
.base-operator a:hover {
  color: #2581e3;
  margin-right: 5px;
}
.base-operator em {
  margin: 0 5px;
}
.base-operator em.fa {
  cursor: pointer;
}
.base-operator em.fa.fa-times {
  color: #ffb55e;
}
.base-operator em.fa.fa-times:hover {
  color: #ff8c0a;
}
.base-operator em.fa.fa-plus {
  color: #c7ddb2;
}
.base-operator em.fa.fa-plus:hover {
  color: #2ba01b;
}
.base-operator em.fa:hover {
  color: #ff8c0a;
  cursor: pointer;
}
/*E表格操作列样式文件*/
