/*S左侧菜单样式文件*/
.menu {
  width: 150px;
  margin: 0 auto;
  color: #858d98;
  font-family: "Microsoft Yahei", "Tahoma", "SimSun";
  overflow-y: auto;
  cursor: pointer;
}
.menu li {
  float: left;
  width: 100%;
  font-family: "Microsoft Yahei", "Tahoma", "SimSun";
}
.menu li h2 {
  position: relative;
  background-position: bottom;
  height: 54px;
  line-height: 54px;
  font-weight: bold;
  background-image: url(../img/menu_backgrounds.jpg);
  background-repeat: no-repeat;
  text-align: center;
}
.menu li ul li {
  height: 28px;
  line-height: 28px;
  background-color: #32353c;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  font-weight: 300;
}
.menu li ul li:hover {
  height: 28px;
  line-height: 28px;
  background-color: #3d568d;
  text-align: center;
}
.menu li ul .active {
  height: 28px;
  line-height: 28px;
  background-color: #3d568d;
  text-align: center;
}
.menu .fold {
  position: relative;
}
.menu .fold:hover {
  color: #ffffff;
}
.menu .fold em {
  display: inline-block;
  position: absolute;
  top: 24px;
  right: 20px;
  width: 8px;
  height: 8px;
  background-image: url(../../img/common/background/ico_02.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.menu .fold ul {
  display: none;
}
.menu .fold .ico_01 {
  display: inline-block;
  position: absolute;
  left: 18px;
  top: 20px;
  width: 18px;
  height: 18px;
  background-attachment: scroll;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.menu .fold .ico_01:hover {
  color: blue;
}
.menu .fold .hover .ico_01 {
  display: inline-block;
  position: absolute;
  left: 18px;
  top: 20px;
  color: #ffffff;
  width: 18px;
  height: 18px;
  background-attachment: scroll;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0px -32px;
}
.menu .spread {
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1b1e24;
}
.menu .spread em {
  display: inline-block;
  position: absolute;
  top: 24px;
  right: 20px;
  width: 8px;
  height: 8px;
  background-image: url(../../img/common/background/ico_02.png);
  background-repeat: no-repeat;
  background-position: 0px -14px;
}
.menu .spread ul {
  display: block;
}
.menu .spread h2 {
  background-color: #383b41;
  background-image: none;
  color: #ffffff;
}
.menu .spread .ico_01 {
  display: inline-block;
  position: absolute;
  left: 18px;
  top: 20px;
  z-index: 9;
  width: 18px;
  height: 18px;
  background-attachment: scroll;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0px -32px;
  color: #ffffff;
}
.menu-small {
  margin: 0 auto;
  color: #858d98;
  font-family: "Microsoft Yahei", "Tahoma", "SimSun";
  position: relative;
  width: 150px;
  overflow: hidden;
}
.menu-small li ul .active {
  height: 40px;
  color: #3d568d;
  line-height: 40px;
  text-align: center;
}
.menu-small li ul li {
  background-color: #32353c;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
}
.menu-small li ul li:hover {
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.menu-small .fold {
  position: relative;
  height: 40px;
  width: 50px;
  background-color: #262930;
}
.menu-small .fold:hover {
  color: #ffffff;
  cursor: pointer;
}
.menu-small .fold ul {
  display: none;
}
.menu-small .fold em {
  width: 8px;
  height: 8px;
  display: inline-block;
  position: absolute;
  top: 24px;
  right: 20px;
  background-image: url(../../img/common/background/ico_02.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.menu-small .fold .ico_01 {
  display: inline-block;
  position: absolute;
  left: 18px;
  top: 15px;
  width: 18px;
  height: 18px;
  background-position: 0px 0px;
  background-attachment: scroll;
  background-image: none;
  background-repeat: no-repeat;
}
.menu-small .fold .nav_small {
  display: none;
}
.menu-small .fold .nav_small h2 {
  display: none;
}
.menu-small .spread {
  position: relative;
  height: 40px;
  width: 50px;
  background-color: #3d568d;
}
.menu-small .spread .ico_01 {
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 15px;
  width: 18px;
  height: 18px;
  background-attachment: scroll;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0px -32px;
  color: #ffffff;
}
.menu-small .spread em {
  display: none;
}
.menu-small .spread ul {
  display: block;
}
.menu-small .spread h2 {
  color: #ffffff;
}
.menu-small .spread .nav_small ul .active a:link {
  display: block;
  background-image: url(../../img/common/background/menu_sub_bj.png);
  background-repeat: no-repeat;
  background-position: center center;
  color: #000000;
  font-size: 12px;
}
.menu-small .spread .nav_small h2 {
  height: 40px;
  background-color: #3d568d;
  line-height: 40px;
  text-align: center;
}
.nav_small {
  position: absolute;
  left: 50px;
  z-index: 5;
  width: 100px;
}
.nav_small li:hover {
  background-image: url(../../img/common/background/menu_sub_bj.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #000000;
}
.nav_small li:active {
  background-image: url(../../img/common/background/menu_sub_bj.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #000000;
}
.main-left-fold {
  float: left;
  width: 50px;
  background-color: #262930;
  /* [disabled]min-height:720px; */
}
.main-left-fold .menu_switch {
  height: 50px;
  background-image: url(../img/menu-switch.jpg);
  background-repeat: repeat;
  overflow: hidden;
}
.main-left-fold .menu_switch p {
  background-image: url(../../img/common/background/ico_03.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin-left: 15px;
  margin-top: 10px;
}
.main-left-fold .menu_switch p:hover {
  cursor: pointer;
}
.main-left .menu_switch p {
  margin-left: 23px;
  margin-top: 5px;
  height: 24px;
  width: 24px;
  background-image: url(../../img/common/background/ico_03.png);
  background-repeat: no-repeat;
}
.main-left .menu_switch pp:hover {
  cursor: pointer;
}
.hover {
  color: #ffffff;
}
/*E左侧菜单样式文件*/
