<div class="qc-dialog-header"> 
	<div class="qc-dialog-title ng-binding"><span>付款记录详情</span></div> 
</div>
<div class="dialog-body-md-pay"> 
    <div class="second-step-info">
    	<ul>
        	<li><label>付款日期：</label>
            	<div class="show-text-base">
                2015-10-23
                </div>
            </li>
            <li><label>付款方式：</label>
            	<div class="show-text-base">
                汇款
                </div>
            </li>
        	<li><label>付款金额：</label>
            	<div class="show-text-base">
                环球行分行环球行分行环球行分行环球行分行环球行分行环球行分行环球行分行环球行分行环球行分行
                </div>
            </li>
            <li><label>收款单位：</label>
            	<div class="show-text-base">
                环球行分行
                </div>
            </li>
            <li class="certificate-list"><label>收款凭证：</label>	
            </li>
            <div class="list">
                	<ul>
                    	<li><i class="fa fa-paperclip"></i><span>的算法的发的发的发撒的啊的算法的发的发的发撒的啊</span><em>上传中......</em></li>
                        <li><i class="fa fa-paperclip"></i><span title="的算法的发的发的发撒的啊的算法的发的发的发撒的啊">的算法的发的发的发撒的啊的算法的发的发的发撒的啊</span><em class="sucess">上传成功！</em><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-paperclip"></i><span>的算法的发的发的发撒的啊的算法的发的发的发撒的啊</span><i class="fa fa-times"></i></li>
                    </ul>
            </div>
            <li><label>备注：</label>
            	<div class="show-text-paragraph">
                没什么可说的没什么可说的没什么可说的没什么可说的没什么可说的没什么可说的没什么可说的没什么可说的没什么可说的
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="qc-dialog-footer">
    <div class="text-center">
        <button class="btn btn-primary " ng-click="ok(selectedPerson1)">关闭</button>
        <button class="btn btn-primary " ng-click="ok(selectedPerson1)">关闭</button>
    </div>
</div><div class="qc-dialog-close"></div>