
.dl-select {
    position: relative;
    display: inline-block;
}
.dl-select input {
    height: 26px;
    border: 1px solid #d9d9d9;
    padding: 0 5px;
    cursor: pointer;
    background-image: url(../images/input_select.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 5px;
}
.dl-select ul {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    width: 102px;
    border-radius: 3px;
    line-height: 28px !important;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    top: 29px;
}
.dl-select ul li {
    padding-left: 8px;
    cursor: pointer;
    text-align: left;
    line-height: 28px !important;
}
li {
    list-style-type: none;
}
div, form, img, ul, ol, li, dl, dt, dd {
    margin: 0;
    padding: 0;
    border: 0;
}
.new_absolute {
    position: absolute;
    top: 12px;
    left: 95px;
    display: none;
}