.hedear-logo {
    height: 60px;
    width: 500px;
    float: left;
    background-image: url("../images/logo-t2/logo-nanyadaziran-travel.png");
    background-repeat: no-repeat;
    background-position: left;
}
.wel_msg_logo {
    width: 145px;
    height: 55px;
    background: transparent url("../images/wel-msg-logo-nanyadaziran-travel.png") no-repeat scroll 0% 0%;
    margin-left: 158px;
    margin-top: -7px;
}
.footer-by {
    width: 290px;
    height: 48px;
    position: absolute;
    right: 25px;
    top: -4px;
    background: transparent url("../images/foot-logon-nanyadaziran-travel-powered-globale-visa-logo.png") no-repeat scroll 0% 0%;
    text-indent: -9999px;
}
