@charset "utf-8";
/*神舟*/
.hedear .hedear-logo{background:url(../images/hlog_szgl.png) no-repeat;width:149px;height:100px}
.hedear .hedear-left{height:100px;margin-top:0;padding-left:0}
.hedear .hedear-logo-name{padding-top: 62px;font-size: 16px}

