body {
    overflow-x: auto !important;
}

#sea {
    min-width: 1345px;
}

.wel_bg {
    display: none;
}

.main-right {
    min-width: 1150px;
}

.hedear {
    min-width: 1220px;
}

.nav-tabs {
    display: none;
}

.bgMainRight {
    padding: 0;
}

.main-right {
    background: #e2e5ec;
}

.O_hidden {
    overflow: hidden;
}

.Group_tab {
    height: 30px;
    width: 100%;
    background: #fff;
    padding-top: 9px;
}

.Group_tab li {
    float: left;
    color: #333;
    border-radius: 4px 4px 0 0;
    padding: 5px 20px;
}

.Group_tab li:first-child {
    margin-left: 25px;
}

.Group_tab .active {
    background: #e2e5ec;
    color: #4491e9;
}

.Group_tab li:hover {
    color: #4491e9;
    cursor: pointer;
}

.main-right-bottom {
    background: #e2e5ec;
    overflow: hidden;
}

.main-right {
    padding: 0px;
}

input[readonly].dateinput, .dateinput {
    background: url(../images/dateinputbg.png) no-repeat right center #fff;
    width: 116px;
    width: 113px \0;
    _width: 112px;
    cursor: pointer;
}

input[readonly] {
    cursor: pointer;
    margin: 0;
}

input, input[type="text"] {
    height: 18px;
    line-height: 18px;
    padding: 4px 6px;
    font-size: 12px;
}

input.inputTxt {
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}


.orderTrend_div {
    margin: 10px 20px;
}
.Condition_div, .time_div{
    margin:10px 0;
}

.Condition_tab, .time_tab {
    border-radius: 4px;
    background: #fff;
    padding: 0 15px;
    overflow: hidden;
    height: 40px;
}

.Condition_tab li {
    float: left;
    padding: 10px 20px 8px;
    color: #333;
}

.Condition_tab li.active {
    color: #4491e9;
    border-bottom: 2px solid #4491e9;
}

.Condition_tab li:hover {
    color: #4491e9;
    cursor: pointer;
}

.Condition_tab em {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.DA_img {
    background: url("../images/dataAdministration.png") no-repeat;
}

.Condition_tab .one em {
    background-position: -18px -38px;
}

.Condition_tab .one:hover em {
    background-position: -18px -19px;
}

.Condition_tab .active.one em {
    background-position: -18px -19px;
}

.Condition_tab .two em {
    background-position: -49px -38px;
}

.Condition_tab .two:hover em {
    background-position: -49px -19px;
}

.Condition_tab .active.two em {
    background-position: -49px -19px;
}

.Condition_tab .three em {
    background-position: -77px -38px;
}

.Condition_tab .three:hover em {
    background-position: -77px -19px;
}

.Condition_tab .active.three em {
    background-position: -77px -19px;
}

.time_tab li {
    float: left;
    margin-left: 10px;
    padding: 5px 10px;
}

.time_tab li:not(:last-child):hover {
    color: #4491e9;
}

.time_tab li.active {
    color: #FFFFFF;
    background: #4491e9;
    border-radius: 4px;
}

.time_tab li.active:hover {
    color: #FFFFFF;
}

.time_tab .front {
    margin: 5px 0 5px 10px;
    cursor: pointer;
}

.time_tab .back {
    margin: 2px 0 2px 10px;
}

.time_tab .make_sure {
    height: 24px;
    border: 1px solid #d1d1d1;
    font-size: 12px;
    text-align: center;
    line-height: 4px;
    color: #333;
    background-color: #e3e3e3;
    border-radius: 2px;
    margin-left: 4px;
    display: none;
}

.time_tab .make_sure:hover {
    background-color: #4491e9;
    color: #fff;
}

/*542v2 start changying.huo*/
.right_header {
    width: 100%;
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.line_left {
    width: 320px;
    height: 320px;
    float: left;
    margin: 20px 0;
    padding: 0 20px;
    border-right: 1px solid #d1dce8;
}

.line_right {
    margin-left: 360px;
    height: 320px;
    padding: 20px;
}

.line_left_header {
    padding-bottom: 20px;
    font-size: 16px;
    white-space: nowrap;
}

.header_use {
    width: 5px;
    height: 20px;
    display: inline-block;
    margin-bottom: -4px;
}

.line_left_header em.center {
    display: inline-block;
    position: relative;
    margin-bottom: -4px;
}

.line_left_header em {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 5px;
}

.line_left_header .center {
    background-position: -48px -63px;
}

.line_left_header .center:hover {
    background-position: -48px -80px;
}

.line_left_header .center:hover .hover_box {
    display: inline-block;
}

.hover_box {
    height: 35px;
    line-height: 35px;
    box-shadow: 0 0 10px #aeaeae;
    background: #FFFFFF;
    position: absolute;
    left: -28px;
    top: 25px;
    z-index: 1;
    border-radius: 4px;
    font-size: 12px;
    padding: 0 10px;
    white-space: nowrap;
    display: none;
}

.hover_box div {
    display: inline-block;
}

.border_triangle {
    background: url(../images/dataAdministration.png) no-repeat -103px -64px;
    width: 10px;
    height: 6px;
    position: absolute;
    top: -6px;
}

.border_triangle_right {
    right: 20px;
}

.border_triangle_left {
    right: 188px;
}

.line_left_body {
    width: 100%;
    height: 300px;
    display: table;
    max-width: 320px;
}

.line_left_body > div {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.count_big {
    font-size: 80px;
    display: inline-block;
}

.count_middle {
    font-size: 50px;
    display: inline-block;
}

.count_small {
    font-size: 30px;
    display: inline-block;
}

.incease_rate {
    margin-top: 20px;
    font-size: 14px;
}

.incease_rate .down {
    background-position: -129px -27px;
    width: 11px;
    height: 11px;
    display: inline-block;
}

.incease_rate .up {
    background-position: -130px -58px;
    width: 11px;
    height: 11px;
    display: inline-block;
}

.right_header .left {
    font-size: 12px;
    display: inline-block;
}

.right_header .right {
    float: right;
}

.right_header .right span {
    width: 38px;
    color: #333;
    height: 100%;
    display: inline-block;
    text-align: center;
    border: 1px solid #e8ebed;
    cursor: pointer;
    font-size: 12px;
}

.right_header .right span.active {
    background-color: #4491e7;
    color: #ffffff;
}

.right_body {
    width: 100%;
    height: 295px;
    text-align: center;
    line-height: 300px;
    font-size: 16px;
    color:#999;
}

/*542v2 end*/
.orderTrend_div {
    min-width: 1000px;
    height: 360px;
    border-radius: 4px;
    background: #FFFFFF;
    font-size: 0px;
}

.font_18 {
    font-size: 18px;
}

.main-right-bottom {
    min-width: 1150px;
}

.dataPresentation_footer {
    margin: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
}

.dataPresentation_footer > div {
    display: inline-block;
    background: #FFFFFF;
    border-radius: 4px;
    margin-left: 0.7%;
    overflow: hidden;
    font-size: 0;
}

.dataPresentation_footer > div:first-child {
    margin-left: 0;
}

.dataPresentation_footer .pieChart {
    width: 35.5%;
    min-width: 380px;
    float: left;
}

.dataPresentation_footer .barChart {
    width: 30.5%;
    min-width: 300px;
    float: left;
}

.dataPresentation_footer .orderList {
    width: 32.6%;
    min-width: 350px;
    height: 372px;
    float: left;
}

.pieChart_header, .barChart_header, .orderList_header, .orderTrend_new_header {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    border-bottom: 2px solid #e3e9f1;
    padding: 0 20px;
    color: #333;
}

.pieChart_header > div, .barChart_header > div, .orderList_header > div, .orderTrend_new_header > div {
    position: relative;
}

.pieChart_body, .barChart_body, .orderList_body {
    height: 290px;
    line-height: 290px;
    font-size: 16px;
    color: #999;
    text-align: center;
}

.pieChart_footer, .barChart_footer, .orderList_footer {
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: right;
    padding: 0 20px;
}

/*修改饼图高度  by zrq 2017-3-7 16:20:12*/
#pieChart {
    height: 330px;
}
.header_taggle {
    float: left;
}
/*.pieChart_footer span, .barChart_footer span {*/
/*color: #519aed;*/
/*}*/

.orderList_body {
    height: 275px;
}

.custom {
    margin-bottom: 2px;
    display: inline-block;
    vertical-align: middle;
}

.orderList_use {
    margin: 10px 20px 0 20px;
    border: 1px solid #ededed;
    border-left: 3px solid #4491e7;
    /*高度调整为45  by zrq*/
    height: 45px;
    line-height: 45px;
    font-size: 12px;
    text-align: left;
    color: #333;
}

.orderList_use:first-child {
    margin: 15px 20px 0 20px;
}

.order_left {
    display: inline-block;
    margin-left: 15px;
    /*宽度调整 by zrq*/
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    cursor: default;
}

.order_right {
    float: right;
    /*修改margin为百分比 by zrq*/
    margin-right: 4%;
    color: #4491e7;
}

.font_14 {
    font-size: 14px;
}

.color_blue {
    color: #4491e7;
}

.noData_01 {
    background: url("../images/noData_01.jpg") no-repeat center center;
}

.noData_01_chart {
    background: url("../images/noData_01.jpg") no-repeat center center;
    position: relative;
    top: -10px;
}

.noData_02 {
    background: url("../images/noData_02.jpg") no-repeat center center;
    position: relative;
    top: 10px;
}

.noData_03 {
    background: url("../images/noData_03.jpg") no-repeat center 45px;
    position: relative;
    top: 10px;
}

.noWord_01 {
    background: url("../images/noWord_01.png") no-repeat center center;
}

.loading_img {
    background: url(../images/lineLoading.gif) no-repeat 145px 100px;
}




