@media screen and (max-width: 1500px) {
	.wechat_search .activitylist_bodyer_right_team_co1 {
	    margin-left: 0;
	}
} 


/*搜索部分*/
.wechat_search{
    display: block;
}
.wechat_search .activitylist_bodyer_right_team_co1{
    width:185px;
}
.wechat_search .activitylist_team_co3_text{
    width:60px;
}
/*表格部分*/
.activitylist_bodyer_table tr td{
    height: 30px;
    /*bug ymx 17607,17715 微信账号匹配页面样式调整 Start*/
    vertical-align: middle!important;
    text-align: center!important;
    word-break: break-all;
    word-wrap : break-word;
    /*bug ymx 17607,17715 微信账号匹配页面样式调整 End*/
}
.activitylist_bodyer_table th{
    text-align: center;
    padding-right: 20px;
}
.text_left{
    text-align: left!important;
}
.unbind_hint{
    border: 1px solid #99c5ff;
    background: #edf5ff;
    color: #3781D6;
    height: 20px;
    padding: 0 5px;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
}
.unbind_hint:hover{
    border: 1px solid #99c5ff;
    background: #edf5ff;
    color: #3781D6;
    height: 20px;
    padding: 0 5px;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
}

.unbind_hint:hover .unbind_reason{
    display:block;
}

.unbind_reason{
    position: absolute;
    color: #333333;
    width: 320px;
    margin-top: -2px;
    margin-left: -6px;
    display: none;
}
.unbind_reason em{
    background: url("../images/gray_arrow.png") 0px 4px no-repeat;
    display: block;
    position: relative;
    z-index: 2;
    width: 14px;
    height: 14px;
    margin-left: 25px;
}
.unbind_reason_title{
    background: #F2F2F2;
    height: 30px;
    line-height: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 2px 2px 0 0;
    vertical-align: middle;
    padding: 0 15px;
    margin-top: -4px;
}
.unbind_reason_content{
    padding: 15px 15px;
    color: #999;
    border: 1px solid #d9d9d9;
    margin-top: -1px;
    border-radius: 0 0 2px 2px;
    overflow: hidden;
    max-height: 218px;
    background:#ffffff;
}
.unbind_reason_content label{
    text-align: right;
    width: 85px;
    vertical-align: text-top;
}

.detail_unbind{
    display: inline-block;
    width: 195px;
    vertical-align: text-top;
    word-break: break-all;
}
.before_change{
    color: #333333;
    font-weight: bold;
}
.after_change{
    color: #ff9900;
    font-weight: bold;
}

/*操作部分样式*/
.handle{
    /*bug ymx 17607 微信账号匹配页面样式调整 Start*/
    margin: -3px auto auto 0px;
    /*bug ymx 17607 微信账号匹配页面样式调整 End*/
    text-align: center;
    height: 30px;
    display: none;
    position: absolute;
    width: 100%;
}
.handle span{
    background: url("../images/handle_dd.png") no-repeat;
    display: block;
    position: relative;
    z-index: 2;
    width: 20px;
    height: 15px;
    margin-left: 32px;
}
.fa.fa-cog{
    /*UG_V2 调整操作齿轮颜色*/
    /*color: #888888;*/
    color:#3f73b2;
    font-size: 20px;
    cursor: pointer;
}
.fa-cog:hover + .handle{
    display: block;
}
.handle:hover{
    display: block;
}
.handle ul{
    margin: -6px 0 0 0;
    border: #ccc 1px solid;
    border-radius: 3px;
    box-shadow: 0 0 5px #d9d9d9;
    width: 82px;
}
.handle li{
    width: 80px;
    background: #fff;
    padding: 1px;
    border-top: none;
    cursor: pointer;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    color: #666;
}
.handle li:hover{
    color: #fff;
    background: #00aeef;
}
.we_operate{
    max-width: 90px;
    min-width: 85px;
    width: 85px;
}

.title_show{
    color: #666666;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    background: #ffffff;
    position: absolute;
    max-width: 200px;
    word-break: break-all;
    z-index: 99;
    box-shadow: 0 0 5px #d9d9d9;
    text-align:left;
    padding:2px 5px;
    margin-left: 10%;
}

#wechatList{
    table-layout: fixed;
}

.match_login{
    width: 200px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}

#areaCode{
    width: 35px;
}
.wechat_search .phone_Num{
    width: 240px;
}
.right_border{
    border-right: 1px solid #b8d1f2;
}
