@charset "utf-8";
/*宜昌蓝天*/
.hedear .hedear-logo{background:url(../images/hlog_yclt.png) no-repeat;width:900px;height:100px}
.hedear .hedear-left{height:100px;margin-top:0;padding-left:0}
.hedear .hedear-logo-name{display:none}
.hedear .hedear-right{margin-top:54px;}