<div style=" ">
    <table width="600" class="table-list-md">
        <thead>
            <tr>
                <th class="table-th-default-width">付款方式</th>
                <th class="table-th-default-width">金额</th>
                <th class="table-th-default-width">日期</th>
                <th class="table-th-default-width">付款状态</th>
                <th class="table-th-default-width">备注</th>
                <th class="table-th-sm-width">操作</th>
            </tr>
        </thead>
        <tbody class="even active" ng-repeat="payment in newList">
            <tr>
                <td>
                    <span ng-bind="payment.paymentMethod.paymentMethodName"></span>
                </td>
                <td>
                    <span ng-bind="payment.paymentAmount| qcCurrency:payment.currency.currencyCode"></span>
                </td>
                <td>
                    <span ng-bind="payment.paymentDate"></span>
                </td>
                <td>
                <span class="text-input" type="text"
                      ng-bind="payment.paymentRecordStatus.financePaymentRecordStatusName"></span>
                </td>
                <td>
                    <span class="table-th-default-width ellipsis" ng-bind="payment.memo"></span>
                </td>
                <td><span class="base-operator">
                    <button ng-click="showPaymentDetail(payment)">详情</button>
                    <button ng-disabled="payment.financePaymentRecordStatusCode=='1'" ng-click="cancelPayment(payment)">撤销</button>
                    <button show-Attachment="payment.attachments"  ng-disabled="!payment.attachments.length">付款凭证</button>
                </span>
                </td>
            </tr>
        </tbody>
        <tbody class="display-none"></tbody>
    </table>
</div>