<div ng-form="receiveConfirmForm">
    <div class="qc-dialog-header">
        <div class="qc-dialog-title ng-binding">
            <span>收款确认</span>
        </div>
    </div>
    <div class="dialog-body-md-collect-other dialog-body-cost-input qc-scroll" style="height: 400px;">
        <div class="first-step-info">
            <ul>
                <li>
                    <label>
                        <em ng-bind="receiveMethod.paymentMethodName"></em>
                        支付
                    </label>
                </li>
                <li>
                    <label>
                        <i class="require">*</i>
                        收款金额：
                    </label>

                    <div class="show-text-base"
                         ng-bind="receiveInfo.receiveAmount|qcCurrency:receiveCurrency.currencyCode"></div>
                </li>
                <li class="money">
                <span class="current"><label>货币换算：</label><em ng-bind="convertedCurrency.currencyCode"></em>汇率=<em
                        ng-bind="convertedExchangeRate()|number:3"
                        ng-show="companyRoleCode=='1'||(companyRoleCode=='0'&&receiveCurrency.currencyUuid==defaultCurrency.currencyUuid)"></em>
                <input type="text" ng-show="companyRoleCode=='0'&&receiveCurrency.currencyUuid!=defaultCurrency.currencyUuid"
                       qc-input-exchange-rate=""
                       ng-model="receiveInfo.exchangeRate" style="width: 60px">
                </span>
                <span><label>总价：</label><em
                        ng-bind="convertedAmount()|qcCurrency:convertedCurrency.currencyCode"></em></span>
                </li>
            </ul>
        </div>
        <div class="second-step-info">
            <ul>
                <li ng-show="receiveMethod.paymentMethodCode==1">
                    <label>支票号：</label>
                    <input type="text" ng-model="receiveInfo.checkNo">
                </li>
                <!--<li ng-show="receiveMethod.paymentMethodCode==1">-->
                <!--<label>开票日期：</label>-->
                <!--<input type="text" ng-model="receiveInfo.checkIssueDate">-->
                <!--</li>-->
                <li>
                    <label>
                        <i class="require" ng-show="companyRoleCode!='0'">*</i>
                        付款单位：
                    </label>
                    <input type="text" class="show-text-base" ng-model="receiveInfo.payer"
                           ng-show="companyRoleCode=='0'">
                    <input type="text" class="show-text-base" ng-model="receiveInfo.payer" qc-valid-required=""
                           ng-show="companyRoleCode!='0'">
                </li>
                <li ng-show="receiveMethod.paymentMethodCode==4">
                    <label>付款行名称：</label>

                    <div class="qc-dropdown-md" qc-dropdown ng-model="selectedPayBank" ng-if="channelTypeCode!='2'"
                         item-text="{{qcDropdownItem.bankName}}"
                         dropdown-text="{{selectedItem?selectedItem.bankName:''}}"
                         items="paymentBanks"></div>
                    <input type="text" class="text-input-huge ng-pristine ng-valid" ng-show="channelTypeCode=='2'"
                           ng-model="selectedPayBankName">
                </li>
                <li ng-show="receiveMethod.paymentMethodCode==4">
                    <label>付款账户：</label>

                    <div class="qc-dropdown-md" qc-dropdown ng-model="selectedPayAccount" ng-if="channelTypeCode!='2'"
                         item-text="{{qcDropdownItem.accountNo}}"
                         dropdown-text="{{selectedItem?selectedItem.accountNo:''}}"
                         items="selectedPayBank.accounts"></div>
                    <input type="text" class="text-input-huge ng-pristine ng-valid" ng-show="channelTypeCode=='2'"
                           ng-model="selectedPayAccountNo">

                </li>

                <li ng-show="receiveMethod.paymentMethodCode==4">
                    <label>收款行名称：</label>

                    <div class="qc-dropdown-md" qc-dropdown ng-model="selectedReceiveBank"
                         item-text="{{qcDropdownItem.bankName}}"
                         dropdown-text="{{selectedItem?selectedItem.bankName:''}}"
                         items="userInfo.banks"></div>
                </li>
                <li ng-show="receiveMethod.paymentMethodCode==4">
                    <label>收款账户：</label>

                    <div class="qc-dropdown-md" qc-dropdown ng-model="selectedReceiveAccount"
                         item-text="{{qcDropdownItem.accountNo}}"
                         dropdown-text="{{selectedItem?selectedItem.accountNo:''}}"
                         items="selectedReceiveBank.accounts"></div>
                </li>
                <li>

                    <label>
                        <i class="require">*</i>
                        到账日期：
                    </label>

                    <input qc-date type="text" qc-valid-required=""
                           class="text-input-md-third date"
                           ng-model="receiveInfo.arrivalBankDate" qc-date-format="yy-mm-dd">
                </li>
                <li>
                    <label>收款凭证：</label>
                    <div class="show-text-base-free" style=" float: left;">
                        <ul>
                            <li ng-repeat="item in receiveInfo.attachments">
                                <i class="fa fa-paperclip"></i>
                                <a  ng-href="{{uploadFileUrl+item.attachmentUuid}}" target="_blank">
                                    <span title="{{item.fileName}}">{{item.fileName|nameCut:false:'20':'...'}}</span>
                                </a>
                            </li>
                        </ul>
                        <!--<a class="text-link" ng-href="{{uploadFileUrl+item.attachmentUuid}}"
                           ng-repeat="item in receiveInfo.attachments"
                           ng-bind="item.fileName">
                            <span title="{{item.fileName}}">{{item.fileName|nameCut:true:'20':'...'}}</span>
                        </a>-->
                    </div>
                </li>
                <!--<li>-->
                <!--<label>备注：</label>-->

                <!--<div class="show-text-paragraph" ng-bind="receiveInfo.memo"></div>-->
                <!--</li>-->

            </ul>
        </div>
    </div>
    <div class="qc-dialog-footer">
        <div class="text-center">
            <button class="butn butn-default" ng-disabled="receiveConfirmForm.$invalid"
                    ng-click="receiveConfirm(receiveInfo)">确认收款
            </button>
            </button>
        </div>
    </div>
</div>