<div class="qc-dialog-header">
</div>
<div class="dialog-body-md qc-scroll">
    <div class="append-person-cost" add-order-reg-fee-invoice-original-group=""
         edit-model="'edit'"
         invoice-original-group="invoiceOriginalGroup" order-uuid="orderUuid">
    </div>
</div>

<div class="qc-dialog-footer">
    <div class="text-center">
        <button class="butn butn-default" ng-click="commit()">提交</button>
    </div>
</div>
<div class="qc-dialog-title title-position">
    <span>追散</span>
    <span  class="add-divider"> | </span>
    <span>
        <label> <i class="require">*</i>追散人数：</label>
        <input class="text-input-sm" ng-model="addFITCount" qc-valid-required=""

               qc-input-int type="text"/>人
    </span>
</div>